@import "../../settings";

.header {
  display: flex;
  margin: 30px 0;

  .logo {
    border: $border;
    border-top: transparent;
    padding: 5px 10px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    .top {
      text-align: end;
      padding-right: 10px;
      border-right: $border;
      display: flex;
      justify-content: space-between;

      .fuck {
        margin-left: 3px;
        font-weight: 600;
        filter: blur(1.3px);
      }
    }

    .menu {
      border: $border;
      border-left: transparent;
      padding-bottom: 6px;

      .wrapper-menu{
        display: flex;
        justify-content: space-between;

        .nav-menu, .auth-menu {
          display: flex;
          position: relative;
        }

        .item-menu {
          padding: 0 10px;

          .wrapper-sub-menu {
            z-index: 2;
            padding: 15px;
            position: absolute;
            display: none;
            width: calc(100% - 90px);
            //width: 100%;
            left: 50px;
            //left: 0;
            text-align: left;

            .item-sub-menu {
              padding: 5px 0;
              cursor: pointer;

              &:hover {
                font-weight: 600;
              }

            }
          }

          &:hover {

            .wrapper-sub-menu {
              display: block;
              background: $white;
              color: $background;
            }
          }
        }
      }
    }
  }
}