/* color */
$background: #2e2d33 !default;

$border-color: #a3a3a5 !default;

$brand-primary: #151515 !default;
$brand-secondary: #343434 !default;
$brand-btn: #00C5B9 !default;
$brand-hover: #FF72CF !default;
$brand-pink-hover: #C5519D !default;
$brand-bg: #303030 !default;


$grey100: #0E0E0E !default;
$grey80: #5D5250 !default;
$grey60: #7A7170 !default;
$grey40: #999291 !default;
$grey20: #B6B1B0 !default;
$grey10: #D5D2D2 !default;
$grey5: #F6F6F6 !default;

$white: #FFFFFF !default;

$red: #ee3524 !default;
$red-hover: #f04436 !default;

/* Border */
$border: 3px solid $border-color;

